
<% @patient.appointments.each do |x| %>
<p><%= x.appointment_datetime.to_datetime.strftime('%B %d, %Y at %H:%M')%></p>
<% end %>

<% @patient.doctors.each do |doc| %>
    <%= link_to doc.name, doctor_path(doc) %>
    <br>
<% end %>




